body {
  background-color: #595959;
}

h1 {
  text-align: center;
  text-shadow: 3px 3px #333333;
  color: white;
  font-variant: small-caps;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-size: 30pt
}

p {
  text-align: center;
  color: white;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
}

form {
  text-align: center;
}

input[type=text] {
  padding: 20px;
  border: 2px solid #3399ff;
  border-radius: 5px;
}

input[type=submit] {
  padding: 10px 15px;
  background: #0066cc;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-size: 12pt
}

#button1 {
  padding: 8px 8px;
  background: white;
  color: black;
  border-radius: 0px;
  font-size: 9pt
}
